*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: "Roboto", sans-serif;/*google font*/
    font-weight: 300;
    font-style: normal;
}
i{
    color: rgb(61, 61, 61);
    transition: 0.2s all;
}
i:hover{
    color: green;
}

#one, #two, #three, #threeRe{
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vw ;
    margin-bottom: 2vw;
}
/*SECCION 1 INICIO*/
#one{/*caja q contien a picture and pre_buy PADRE*/
    display: grid;/********/
    grid-template-columns: 1fr;
    grid-template-rows: 70vh 1fr;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    /*border: 1px solid violet;*/
}
.picture{
    grid-column: 1;
    grid-row: 1;
    justify-self: stretch;/*quiero que extiendas todo lo posible*/
    align-self: stretch;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.picture img{
    width: 100%;
    max-width: 500px;
    height: 100%;
}
.info_principal{
    margin-top: 5px;
    justify-self: stretch;
    align-self: stretch;
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
    gap: 5px;
}

h2{
    font-style: italic;
    font-weight: 700;
}
.title>h2{
    font-size: 1.5em; /* 700 Italic */
    
}
.otros>h2{
    margin: 4px;
    font-weight: 300;
}
.dinero{
    border: none;
}
.cuotas{
    font-size: 0.6em;
}
.title, .dinero, .otros{
    width: 100%;
    border-bottom: 2px solid rgb(43, 75, 182) ;
}

.botones{
    align-self: center;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2%;

}

.boton_compra, .boton_carrito{
    border: none;
    font-weight: 700;
    background-color: rgb(173, 173, 173);
    border-radius: 10px;
    transition: 0.2s all;
    font-size: 0.8em;
    padding: 2%;
    text-align: center;
    padding: 1px 4px;
    height: 30px;
}

.boton_compra:hover, .boton_carrito:hover{
    background-color: rgb(123, 123, 238);
    border-radius: 0;
}


/*SECCION 2 INICIO*/
#two{
    border-top: 1px solid rgba(37, 37, 37, 0.473);
    border-bottom: 1px solid rgba(37, 37, 37, 0.473);
    padding: 4px;
    
}

/*SECCION 3 INICIO*/
#three{
    height: auto;
    margin: 2%;
    display: flex;/*flex padre q afecta a los hijos*/
    border: none;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: auto;
    
}
a{
    text-decoration: none;
}
a:link, a:visited{
    color: #000000;
}
.article {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    height: 300px;
    min-height: 250x;
    background-color: rgb(252, 177, 79);
    border: 1px solid #000000;
    flex: 1;/*tengan todo el width posible equitativamente*/
}

.article{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}
.miniatura {
    width: 100%;
    height: 60%;
    
  }
.contenido {
    width: 100%;
    height: 40%;
    text-align: center;
  }
  
  .titulo_miniatura {
    font-size: 1.2em;
    margin: 0;
    font-weight: 100;
    
  }
  
  .precio_miniatura {
    margin: 5px 0;
    font-weight: 100;
  }

  @media only screen and (min-width: 1000px){
    #one{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 70vh;
    }
    .picture{
        grid-column: 1;
        margin: 10px;

    }
    .info_principal{
        grid-column: 2;
        grid-row: 1;
        margin: 10px;
    } 
}

@media only screen and (max-width: 500px){
    .botones{
        width: 70%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 5px;
    }
    .boton_compra{
        grid-column: 1;
        grid-row: 1;
    }
    .boton_carrito{
        grid-column: 1;
        grid-row: 2;
    }
    .article{
        height: 250px;
    }

}

@media only screen and (min-width: 1200px){
    html{
    font-size: 24px;
    }
}