@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto";
}

.secondary-header {
    background-color: #ebe1cd;
    position: sticky;
    padding: 3px; 
    width: 100vw;
    height: auto;
    
}
.secondary-header .content {
    color: #37220e;
    text-align: center;
    padding: 0 20px;
    height: 30px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

/*header*/
#header{
    position: sticky;
    top: 0;
    width: 100vw;
    height: auto;
    transition: height 0.3s ease;
    background-color: #EDDAB5;
    display: flex;
    flex-flow: row wrap;
    min-height: 70px;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 100px;/**/
    margin: 2px;
}
.navbar{
    background-color: #EDDAB5;
}
.navbar>a{
    color: #241609;
    text-decoration: none;
    margin: 0px 4px;
    font-size: 1em;
}
nav>a:hover {
    text-shadow: 4px 4px 8px #37220e;
}
body {
    background-color: #fbf4ef;
}

/*footer*/
footer {
    background-color: #241609;
    padding: 20px;
}
footer p {
    margin: 0;
    color: #e4d6c9;
    font-size: 16px;
}

#Socials>a{
    color: #ffffff;
}

/*header*/
@media only screen and (min-width: 380px){
    .navbar>a{
        font-size: 1.2em;
        margin: 0px 9px;
    }
}
@media only screen and (min-width: 640px){
    .navbar>a{
        font-size: 1.5em;
        margin: 0px 10px;
        padding: 2px 8px;
    }
    #header{
        flex-flow: row nowrap;
        justify-content: space-around;
    }
}
@media only screen and (min-width: 700px){
    .logo img{
        width: 150px;
    }
}
@media only screen and (min-width: 1000px){
    .logo img{
        width: 160px;
    }
    #header{
        justify-content: space-between;
    }
    .navbar{
        margin-right: 5%;
    }
    .logo{
        margin-left: 5%;
    }
}


